01-workflows/transcript-cleanup-tagging-v3.json
{
    "name": "[IN USE] Airtable → Google Docs- Transcript Cleanup (v1)",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2292335,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "[IN USE] Airtable → Google Docs- Transcript Cleanup (v1)",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4220616
            },
            "mapper": {
                "base": "appv6znNqj8jmKf5D",
                "useColumnId": false,
                "table": "tbl4bmih6FcMQhfJa",
                "id": "{{2.recordId}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "0.4 - [DEMO_TEMPLATE] Content Leverage Machine_v0.4 (User ID: usrnkVaeStyCnnztT)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "[DEMO_TEMPLATE] Content Leverage Machine_v0.4"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Asset Library"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "(fx) Asset ID",
                        "label": "(fx) Asset ID",
                        "type": "text"
                    },
                    {
                        "name": "Title (from Idea Bank)",
                        "label": "Title (from Idea Bank)",
                        "type": "array"
                    },
                    {
                        "name": "Description (from Idea Bank)",
                        "label": "Description (from Idea Bank)",
                        "type": "array"
                    },
                    {
                        "name": "Idea Bank",
                        "label": "Idea Bank",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "Actions",
                        "label": "Actions",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "Status (from Idea Bank)",
                        "label": "Status (from Idea Bank)",
                        "type": "array"
                    },
                    {
                        "name": "Original File Name",
                        "label": "Original File Name",
                        "type": "text"
                    },
                    {
                        "name": "Asset Category",
                        "label": "Asset Category",
                        "type": "text"
                    },
                    {
                        "name": "Processing Status",
                        "label": "Processing Status",
                        "type": "text"
                    },
                    {
                        "name": "✅ Approved for Transcription",
                        "label": "✅ Approved for Transcription",
                        "type": "boolean"
                    },
                    {
                        "name": "Source",
                        "label": "Source",
                        "type": "text"
                    },
                    {
                        "name": "File Size (bytes)",
                        "label": "File Size (bytes)",
                        "type": "text"
                    },
                    {
                        "name": "(fx) File Size (MB)",
                        "label": "(fx) File Size (MB)",
                        "type": "text"
                    },
                    {
                        "name": "GDrive Media File ID",
                        "label": "GDrive Media File ID",
                        "type": "text"
                    },
                    {
                        "name": "(fx) GDrive Media File URL",
                        "label": "(fx) GDrive Media File URL",
                        "type": "text"
                    },
                    {
                        "name": "GDoc Transcript ID",
                        "label": "GDoc Transcript ID",
                        "type": "text"
                    },
                    {
                        "name": "(fx) GDoc Transcript URL",
                        "label": "(fx) GDoc Transcript URL",
                        "type": "text"
                    },
                    {
                        "name": "GDrive Download URL",
                        "label": "GDrive Download URL",
                        "type": "text"
                    },
                    {
                        "name": "Description",
                        "label": "Description",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "📁 Transcript",
                        "label": "📁 Transcript",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "📁 Media File",
                        "label": "📁 Media File",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "(fx) ⚡ Ready for Transcription",
                        "label": "(fx) ⚡ Ready for Transcription",
                        "type": "text"
                    },
                    {
                        "name": "MIME Type",
                        "label": "MIME Type",
                        "type": "text"
                    },
                    {
                        "name": "Created Date",
                        "label": "Created Date",
                        "type": "date"
                    },
                    {
                        "name": "Transcribed?",
                        "label": "Transcribed?",
                        "type": "text"
                    },
                    {
                        "name": "Transcribed Date",
                        "label": "Transcribed Date",
                        "type": "date"
                    },
                    {
                        "name": "AID",
                        "label": "AID",
                        "type": "number"
                    },
                    {
                        "name": "recordId",
                        "label": "recordId",
                        "type": "text"
                    },
                    {
                        "name": "Last Modified",
                        "label": "Last Modified",
                        "type": "date"
                    },
                    {
                        "name": "Social Content",
                        "label": "Social Content",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "Init Cleanup/Tag",
                        "label": "Init Cleanup/Tag",
                        "type": "boolean"
                    },
                    {
                        "name": "Cleaned/Tagged GDoc ID",
                        "label": "Cleaned/Tagged GDoc ID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 60,
            "module": "google-docs:getADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4157057
            },
            "mapper": {
                "select": "map",
                "includeTabsContent": false,
                "filter": "image",
                "document": "{{3.`GDoc Transcript ID`}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Get Transcript"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "🟢 CLOS (mike@contentleverageos.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "By Mapping"
                        },
                        "filter": {
                            "label": "Image"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get Content of a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "includeTabsContent",
                        "type": "boolean",
                        "label": "Include Tabs Content",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "select",
                        "label": "Filter",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image",
                                "drawing",
                                "chart"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "text",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 57,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3959916
            },
            "mapper": {
                "select": "chat",
                "temperature": "0.5",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4.1",
                "messages": [
                    {
                        "role": "user",
                        "content": "Here is the raw transcript to clean:\n\n{{60.text}}",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "system",
                        "content": "You are an expert transcript processor specializing in converting raw audio transcripts into clean, semantically tagged content ready for repurposing across multiple formats.\nCurrent task: Clean Raw Transcript.\nFollow these rules without altering speaker intent or tone:\n\nRemove filler words (“um,” “uh,” “you know,” “like,” “so,” “actually”).\n\nEliminate false starts, stutters, and duplicate phrases.\n\nAdd punctuation for readability and fix obvious grammar.\n\nDo not summarize, rewrite, or change meaning.\n\nPreserve the speaker’s natural voice.\n\nFlag any incomplete thoughts, vague references, or abrupt endings for later completion.\n\n​"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "Cleaning"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "CLOS DEMO V1",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4.1 (system)"
                        },
                        "max_tokens": {
                            "empty": true
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "help": "Recommended value: `Auto`",
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 37,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 56,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3959916
            },
            "mapper": {
                "select": "chat",
                "temperature": "0.5",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4.1",
                "messages": [
                    {
                        "role": "user",
                        "content": "Insert inline tags in the following cleaned transcript:\n\n{{57.result}}",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "system",
                        "content": "You are an expert transcript processor.\nCurrent task: Add Semantic Context Tags to the cleaned transcript provided below.\nTag inline, directly after the relevant phrase, using only the tags defined:\n\nCore content tags: [TOPIC: …] [STRATEGY: …] [INDUSTRY: …] [TOOL: …] [CHANNEL: …] [ASSET: …]\n\nStatus tags: [INCOMPLETE] [CLARIFY] [ASSUMPTION] [ENHANCE]\nRules:\n\nTag only what is explicitly stated or clearly implied.\n\nLimit to 1-3 tags per sentence.\n\nDo not rephrase or summarize.\n\nFlag every gap with [ENHANCE].\n\n​"
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Add Semantic Context Tags"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "CLOS DEMO V1",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4.1 (system)"
                        },
                        "max_tokens": {
                            "empty": true
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "help": "Recommended value: `Auto`",
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 50,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3959916
            },
            "mapper": {
                "select": "chat",
                "temperature": "0.5",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4.1",
                "messages": [
                    {
                        "role": "user",
                        "content": "Apply structure, style tags, and enhancements to the tagged transcript below:\n\n{{56.result}}",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "system",
                        "content": "You are an expert transcript processor.\nCurrent task: Add Structure and Style Tags, then complete all flagged gaps.\nTag inline with at most 2 tags per paragraph, choosing from:\n\nStructure: [STRUCTURE: Story] [STRUCTURE: Framework] [STRUCTURE: List] [STRUCTURE: Comparison]\n\nStyle: [STYLE: Opinion] [STYLE: Tactical] [STYLE: Commentary] [STYLE: Data]\n\nSection: [SECTION: Hook] [SECTION: Main] [SECTION: Conclusion]\n\nEnhancement: [ENHANCED SECTION] [ENHANCED CONCLUSION]\nEnhancement requirements:\n\nResolve every [INCOMPLETE], [CLARIFY], or [ENHANCE] flagged earlier.\n\nAdd concrete examples where references are vague.\n\nProvide a clear conclusion if the ending is abrupt.\n\nMaintain the speaker’s authentic voice; do not alter original text—only add.\n\nMark all new material with [ENHANCED SECTION] or [ENHANCED CONCLUSION]."
                    }
                ],
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "dd Structure, Style Tags, and Enhance Content"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "CLOS DEMO V1",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4.1 (system)"
                        },
                        "max_tokens": {
                            "empty": true
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "help": "Recommended value: `Auto`",
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 22,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3989585
            },
            "filter": {
                "name": "Text Exists",
                "conditions": [
                    [
                        {
                            "a": "{{50.result}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "{{60.title}} - Cleaned & Tagged Transcript",
                "content": "{{50.result}}",
                "destination": "drive",
                "header": false,
                "footer": false,
                "folderId": "/17zVgtjDhY4In7AVqCr21zxxlQQ_b0pwu/185FoWKd3FgBYXaDdSjzA4YSbEuDjo8vV/1uxc0LaxhsYA85TsKxcz8A8EOH2QZLTkM"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Cleaned/Tagged Transcript"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "[DEMO] Google Docs (mike@contentleverageos.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "destination": {
                            "label": "My Drive"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "🟢 [DEMO] Content Leverage Machine",
                                "[DEMO] CLOS - 📝 Content",
                                "📲 Processed - Raw Assets"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 4220616
            },
            "mapper": {
                "base": "appv6znNqj8jmKf5D",
                "typecast": false,
                "useColumnId": false,
                "table": "tbl4bmih6FcMQhfJa",
                "id": "{{2.recordId}}",
                "record": {
                    "fldWkxzX65c2OfORQ": false,
                    "fldZQqD5WIKMry2te": "{{22.id}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Add/Update Cleaned/Tagged GDoc ID"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "0.4 - [DEMO_TEMPLATE] Content Leverage Machine_v0.4 (User ID: usrnkVaeStyCnnztT)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "[DEMO_TEMPLATE] Content Leverage Machine_v0.4"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Asset Library"
                        },
                        "record": {
                            "nested": {
                                "fldhsvayZrubxwheX": {
                                    "mode": "chose"
                                },
                                "fldof4QxgtpDciIVi": {
                                    "mode": "chose"
                                },
                                "fldpA7fwJaci7174P": {
                                    "mode": "edit"
                                },
                                "fldvKCzxDeK0Nefuc": {
                                    "mode": "edit"
                                },
                                "fldfv2ajFoJgDYam9": {
                                    "mode": "chose"
                                },
                                "fldLmNHh5ouczy959": {
                                    "mode": "edit"
                                },
                                "fldYxK3mrOkhvYvLj": {
                                    "mode": "chose"
                                },
                                "fldWkxzX65c2OfORQ": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldhsvayZrubxwheX",
                                "type": "array",
                                "label": "Idea Bank",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldof4QxgtpDciIVi",
                                "type": "array",
                                "label": "Actions",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fld1Ij83e5XuaSE5m",
                                "type": "text",
                                "label": "Original File Name"
                            },
                            {
                                "name": "fldpA7fwJaci7174P",
                                "type": "select",
                                "label": "Asset Category",
                                "mode": "edit"
                            },
                            {
                                "name": "fldvKCzxDeK0Nefuc",
                                "type": "select",
                                "label": "Processing Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldfv2ajFoJgDYam9",
                                "type": "boolean",
                                "label": "✅ Approved for Transcription"
                            },
                            {
                                "name": "fldLmNHh5ouczy959",
                                "type": "select",
                                "label": "Source",
                                "mode": "edit"
                            },
                            {
                                "name": "fldk7ngogHQ2rAF1d",
                                "type": "text",
                                "label": "File Size (bytes)"
                            },
                            {
                                "name": "fld4cQ2eP7JxUhBms",
                                "type": "text",
                                "label": "GDrive Media File ID"
                            },
                            {
                                "name": "fldWm7SOQRZnQgv0O",
                                "type": "text",
                                "label": "GDoc Transcript ID"
                            },
                            {
                                "name": "fldcPjhTBZGNsYc3C",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "fldIEU1IKEa4FlJJS",
                                "type": "text",
                                "label": "MIME Type"
                            },
                            {
                                "name": "fldYxK3mrOkhvYvLj",
                                "type": "array",
                                "label": "Social Content",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldWkxzX65c2OfORQ",
                                "type": "boolean",
                                "label": "Init Cleanup/Tag"
                            },
                            {
                                "name": "fldZQqD5WIKMry2te",
                                "type": "text",
                                "label": "Cleaned/Tagged GDoc ID"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "(fx) Asset ID",
                        "label": "(fx) Asset ID",
                        "type": "text"
                    },
                    {
                        "name": "Title (from Idea Bank)",
                        "label": "Title (from Idea Bank)",
                        "type": "array"
                    },
                    {
                        "name": "Description (from Idea Bank)",
                        "label": "Description (from Idea Bank)",
                        "type": "array"
                    },
                    {
                        "name": "Idea Bank",
                        "label": "Idea Bank",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "Actions",
                        "label": "Actions",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "Status (from Idea Bank)",
                        "label": "Status (from Idea Bank)",
                        "type": "array"
                    },
                    {
                        "name": "Original File Name",
                        "label": "Original File Name",
                        "type": "text"
                    },
                    {
                        "name": "Asset Category",
                        "label": "Asset Category",
                        "type": "text"
                    },
                    {
                        "name": "Processing Status",
                        "label": "Processing Status",
                        "type": "text"
                    },
                    {
                        "name": "✅ Approved for Transcription",
                        "label": "✅ Approved for Transcription",
                        "type": "boolean"
                    },
                    {
                        "name": "Source",
                        "label": "Source",
                        "type": "text"
                    },
                    {
                        "name": "File Size (bytes)",
                        "label": "File Size (bytes)",
                        "type": "text"
                    },
                    {
                        "name": "(fx) File Size (MB)",
                        "label": "(fx) File Size (MB)",
                        "type": "text"
                    },
                    {
                        "name": "GDrive Media File ID",
                        "label": "GDrive Media File ID",
                        "type": "text"
                    },
                    {
                        "name": "(fx) GDrive Media File URL",
                        "label": "(fx) GDrive Media File URL",
                        "type": "text"
                    },
                    {
                        "name": "GDoc Transcript ID",
                        "label": "GDoc Transcript ID",
                        "type": "text"
                    },
                    {
                        "name": "(fx) GDoc Transcript URL",
                        "label": "(fx) GDoc Transcript URL",
                        "type": "text"
                    },
                    {
                        "name": "GDrive Download URL",
                        "label": "GDrive Download URL",
                        "type": "text"
                    },
                    {
                        "name": "Description",
                        "label": "Description",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "📁 Transcript",
                        "label": "📁 Transcript",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "📁 Media File",
                        "label": "📁 Media File",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "(fx) ⚡ Ready for Transcription",
                        "label": "(fx) ⚡ Ready for Transcription",
                        "type": "text"
                    },
                    {
                        "name": "MIME Type",
                        "label": "MIME Type",
                        "type": "text"
                    },
                    {
                        "name": "Created Date",
                        "label": "Created Date",
                        "type": "date"
                    },
                    {
                        "name": "Transcribed?",
                        "label": "Transcribed?",
                        "type": "text"
                    },
                    {
                        "name": "Transcribed Date",
                        "label": "Transcribed Date",
                        "type": "date"
                    },
                    {
                        "name": "AID",
                        "label": "AID",
                        "type": "number"
                    },
                    {
                        "name": "recordId",
                        "label": "recordId",
                        "type": "text"
                    },
                    {
                        "name": "Last Modified",
                        "label": "Last Modified",
                        "type": "date"
                    },
                    {
                        "name": "Social Content",
                        "label": "Social Content",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "Init Cleanup/Tag",
                        "label": "Init Cleanup/Tag",
                        "type": "boolean"
                    },
                    {
                        "name": "Cleaned/Tagged GDoc ID",
                        "label": "Cleaned/Tagged GDoc ID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 61,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appYAhux6rIzFttIb/wflQnwMPfc8ROvUQ0/wtrjgVFqTlLg9cG5j",
                "serializeUrl": false,
                "method": "post",
                "headers": [],
                "qs": [],
                "bodyType": "x_www_form_urlencoded",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "formFields": [
                    {
                        "key": "Auto URL",
                        "value": "https://us1.make.com/723093/scenarios/4019495"
                    },
                    {
                        "key": "Slack Message",
                        "value": "Title:\n\n[IN USE] Airtable → Google Docs → OpenAI: Transcript Cleanup and Semantic Tagging (v1)\n\nNotion Page:\n\nhttps://www.notion.so/contentleverageos/IN-USE-Airtable-Google-Docs-OpenAI-Transcript-Cleanup-and-Semantic-Tagging-v1-2059a7ee41ac8036a757f16785425996?source=copy_link"
                    }
                ],
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Application/x-www-form-urlencoded"
                        },
                        "formFields": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "formFields",
                        "type": "array",
                        "label": "Fields",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": [
            {
                "moduleIds": [
                    2
                ],
                "content": "<p>This workflow is for cleaning/tagging content that's already been transcribed</p><p></p><p>🧾 Automation Naming Explained</p><p>This automation was renamed for clarity:</p><p> [IN USE] Airtable → Google Docs → OpenAI: Transcript Cleanup and Semantic Tagging (v1)</p><ul><li><strong>[IN USE]</strong> signals this is actively running and ready.</li><li><strong>Airtable → Google Docs → OpenAI</strong> shows you the workflow’s sequence of tool handoffs.</li><li><strong>Transcript Cleanup and Semantic Tagging</strong> highlights its exact value.</li></ul><h1><strong>What is the primary input? 📥</strong></h1><ul><li>The automation is triggered by a <strong>custom webhook call</strong> containing an Airtable Record ID.</li><li>It fetches the corresponding record from your designated Airtable base and table, then uses the “GDoc Transcript ID” field to pull the relevant transcript text from a Google Doc.</li></ul><h1><strong>Who is this for? 👥</strong></h1><ul><li>Solopreneurs, creators, and small teams who need to quickly process, clean, and semantically tag audio/video transcripts for repurposing.</li><li>Perfect for content marketers, podcast hosts, or educators looking to get more mileage from their spoken-word content.</li></ul><h1><strong>What problem does this solve?</strong> ⚒️</h1><p>Manually cleaning up raw transcripts and applying useful tags for repurposing is <strong>slow, tedious, and distracts you from big-picture work</strong>. This workflow:</p><ul><li>Automatically fetches, cleans, and tags your transcripts—so you can focus on sharing, publishing, and growing, not formatting and editing.</li></ul><h1><strong>What this workflow does</strong> ⚙️</h1><ul><li>Converts raw, unstructured transcript text into <strong>cleaned, punctuated, and semantically tagged content</strong>, ready for blogs, socials, or training materials.</li><li><strong>Tags</strong> content by topic, structure, style, and more—making future reuse, search, and remixing simple!</li><li>This comprehensive workflow transforms a transcript GDoc into a polished, tagged asset through a 5-step process:</li></ul><h2>Step 1: Webhook Trigger</h2><p>Starts when you (or another automation) send a Record ID to the custom webhook endpoint.</p><h2>Step 2: Fetch Airtable Record</h2><p>Uses the Record ID to pull all metadata—including the Google Doc Transcript ID—from your selected Airtable table (“Asset Library”).</p><h2>Step 3: Retrieve Google Doc Transcript</h2><p>Pulls the full transcript text using the GDoc Transcript ID.</p><ul><li><strong>Connection:</strong> Uses your “CLOS (<a href=\"mailto:mike@contentleverageos.com\" target=\"_blank\">mike@contentleverageos.com</a>)” Google account.</li></ul><h2>Step 4: Clean Transcript with OpenAI</h2><p>Sends the raw transcript to OpenAI GPT-4.1 with this user+system prompt:</p><pre>\n\ntext\nUser prompt:\nHere is the raw transcript to clean:\n\n{{text_from_GDoc}}\n\nSystem prompt:\nYou are an expert transcript processor specializing in converting raw audio transcripts into clean, semantically tagged content ready for repurposing across multiple formats.\nCurrent task: Clean Raw Transcript.\nFollow these rules without altering speaker intent or tone:\n\nRemove filler words (“um,” “uh,” “you know,” “like,” “so,” “actually”).\nEliminate false starts, stutters, and duplicate phrases.\nAdd punctuation for readability and fix obvious grammar.\nDo not summarize, rewrite, or change meaning.\nPreserve the speaker’s natural voice.\nFlag any incomplete thoughts, vague references, or abrupt endings for later completion.\n</pre><h2>Step 5: Add Semantic Context Tags (OpenAI)</h2><p>Sends the cleaned transcript to OpenAI with this user+system prompt:</p><pre>\n\ntext\nUser prompt:\nInsert inline tags in the following cleaned transcript:\n\n{{cleaned_transcript}}\n\nSystem prompt:\nYou are an expert transcript processor.\nCurrent task: Add Semantic Context Tags to the cleaned transcript provided below.\nTag inline, directly after the relevant phrase, using only the tags defined:\n\nCore content tags: [TOPIC: …] [STRATEGY: …] [INDUSTRY: …] [TOOL: …] [CHANNEL: …] [ASSET: …]\nStatus tags: [INCOMPLETE] [CLARIFY] [ASSUMPTION] [ENHANCE]\nRules:\nTag only what is explicitly stated or clearly implied.\nLimit to 1-3 tags per sentence.\nDo not rephrase or summarize.\nFlag every gap with [ENHANCE].\n</pre><h2>Step 6: Add Structure, Style Tags, and Enhance Content (OpenAI)</h2><p>Sends the tagged transcript to OpenAI with this user+system prompt:</p><pre>\n\ntext\nUser prompt:\nApply structure, style tags, and enhancements to the tagged transcript below:\n\n{{tagged_transcript}}\n\nSystem prompt:\nYou are an expert transcript processor.\nCurrent task: Add Structure and Style Tags, then complete all flagged gaps.\nTag inline with at most 2 tags per paragraph, choosing from:\n\nStructure: [STRUCTURE: Story] [STRUCTURE: Framework] [STRUCTURE: List] [STRUCTURE: Comparison]\nStyle: [STYLE: Opinion] [STYLE: Tactical] [STYLE: Commentary] [STYLE: Data]\nSection: [SECTION: Hook] [SECTION: Main] [SECTION: Conclusion]\nEnhancement: [ENHANCED SECTION] [ENHANCED CONCLUSION]\nEnhancement requirements:\nResolve every [INCOMPLETE], [CLARIFY], or [ENHANCE] flagged earlier.\nAdd concrete examples where references are vague.\nProvide a clear conclusion if the ending is abrupt.\nMaintain the speaker’s authentic voice; do not alter original text—only add.\nMark all new material with [ENHANCED SECTION] or [ENHANCED CONCLUSION].\n</pre><h1><strong>Setup</strong> 🧰</h1><p>🚨 <strong>Before getting started, you'll need:</strong></p><ul><li>Airtable account with the relevant base/table (“Asset Library”)</li><li>Connected Google Workspace account (for Docs access)</li><li>OpenAI account with GPT-4 API access</li><li>(Optionally) a tool like Make (Integromat) to run this workflow, or another platform to handle the webhook and automations</li></ul><p><strong>Configuration:</strong></p><ul><li>Set up and copy your custom webhook URL (trigger).</li><li>Make sure your Airtable base/table fields are mapped correctly (especially “GDoc Transcript ID”).</li><li>Confirm your Google account has access to the relevant Docs.</li><li>Verify your OpenAI connection and ensure correct model selection (gpt-4.1).</li><li>Adjust or extend tagging/cleaning prompts as needed for your repurposing workflow.</li></ul><h1>Resources 🔖</h1><ul><li><a href=\"https://www.make.com/en/help/webhooks/webhook-triggers\" target=\"_blank\">Getting Started with Webhooks in Make (Official Guide)</a></li><li><a href=\"https://airtable.com/developers/web/api/introduction\" target=\"_blank\">Airtable API Documentation</a></li><li><a href=\"https://developers.google.com/docs/api\" target=\"_blank\">Google Docs API Overview</a></li><li><a href=\"https://platform.openai.com/docs/guides/gpt\" target=\"_blank\">OpenAI GPT-4 API Reference</a></li><li><a href=\"https://hiddenlevers.ai/subscribe?utm_source=github&utm_medium=demo&utm_campaign=context_engineering\" target=\"_blank\">More Context Engineering Resources</a></li></ul><ol><li><a href=\"https://ppl-ai-file-upload.s3.amazonaws.com/web/direct-files/attachments/66473654/b29b3ad6-4a96-41ad-a5e4-b5f3f70570ce/paste.txt\" target=\"_blank\">https://ppl-ai-file-upload.s3.amazonaws.com/web/direct-files/attachments/66473654/b29b3ad6-4a96-41ad-a5e4-b5f3f70570ce/paste.txt</a></li></ol><p></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}